<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Management System | New Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragment/nav::navbar"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Add New Student</h1>
                <div class="card-body">
                    <form th:action="@{/new_student}" th:object="${k_student}" method="POST">
                        <div class="mb-3">
                            <label>First Name</label>
                            <input 
                            type="text"
                            name="firstName"
                            th:field="*{firstName}"
                            class="form-control"
                            placeholder="Student first name"
                            />
                        </div>
                        <div class="mb-3">
                            <label>Last Name</label>
                            <input 
                            type="text"
                            name="lastName"
                            th:field="*{lastName}"
                            class="form-control"
                            placeholder="Student last name"
                            />
                        </div>
                        <div class="mb-3">
                            <label>E-mail</label>
                            <input 
                            type="text"
                            name="email"
                            th:field="*{email}"
                            class="form-control"
                            placeholder="Student e-mail"
                            />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-outline-secondary">Clear</button>                     
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>